@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Reset CSS */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c8baab7c;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}
/*header*/
  header {
    width: 100%;
    background-color: #BE8a4A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .mainlogo {
    margin-left: 1vw;
    width: 5vw;
  }

  .navbar-toggler {
    position: relative;
    z-index: 1050;
  }

  .navbar {
    padding: 1rem;
    margin-left: auto;
  }

  .navbar-nav .nav-link {
    color: #fff; 
    font-size: 1.1rem;
    padding: 0.5rem 1rem; 
    text-decoration: none; 
    transition: color 0.3s, background-color 0.3s; 
  }


  .navbar-nav .nav-link.active {
    background-color: #a7743d; 
    color: #fff !important; 
    border-radius: 0.25rem; 
  }


  .navbar-nav .nav-link:hover {
    color: #cca677; 
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
  }

  /* Estilos do menu hamburguer */
  .dropdown-menu {
    border: none; 
  }

  .dropdown-item {
    color: #fff ;
  }

  .dropdown-item:hover {
    background-color: #a7743d !important; /* Cor de fundo dos itens ao passar o mouse */
    color: #f8f9fa !important; /* Cor do texto dos itens ao passar o mouse */
  }

  .dropdown-menu-end {
    right: 0; 
  }
/*header*/
.container {
  display: flex;
  flex: 1;
}
 main { /* PROIBIDO MEXER */
  flex: 1;
}
#main-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#main-content.fade {
  opacity: 0;
}
footer {
  background-color: #BE8a4A;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
}
/* sobre.html start */
div#sobre-content{
  text-align: center;
  top: 35%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sobre-content h1{
  text-align: center;
  font-size: 3rem;
  padding-bottom: 5px;
}

#sobre-content p{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
  border-top: 2px solid #dbad75;
  border-bottom: 2px solid #dbad75;
  font-size: 1.5rem;
}

#sobre-content a{
  padding-top: 12px;
  float: left;
  text-decoration: none;
  font-size: 1.3rem;
}
#sobre-content a:hover{
  text-decoration: underline 1px;
}
/* Css da proposta e metodo */
#proposta-metodo{
  display: inline-flex;
  text-align: center;
  top: 65%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 4rem;
  margin-top: 1.5rem;
}

#proposta-metodo h2{
  font-size: 1.5rem;
}

#proposta-metodo p{
  font-size: 1.2rem;
}
/* sobre.html end */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  .asidelink {
    font-size: 0.8rem;
  }
  .main-nav ul {
    flex-direction: row;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .asidelink {
    font-size: 0.7rem;
  }

  .main-nav ul {
    flex-direction: column;
    gap: 10px;
  }

}

@media (max-width: 480px) {
  body {
    font-size: 10px;
  }

  .asidelink {
    font-size: 0.6rem;
  }
  .main-nav ul {
    flex-direction: column;
    gap: 10px;
  }

}
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4f02839d;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(-20px);
  z-index: 1000; 
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}

.notification.hidden {
  opacity: 0;
  transform: translateY(-20px);
}
/*Css Do Davi - Pedidos*/
.pai-notificacao-pedidos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
#notificacao-pedidos {
  background-color: #6F4F28; 
  color: #FFFFFF; 
  width: 180px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  position: fixed;
  margin-top: 30px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(-20px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}
#notificacao-pedidos.mostrar {
  opacity: 1;
  transform: translateY(0);
}
.form-pedidos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  
}
.form-pedidos form {
  border: 2px solid #BE8a4A;
  margin: 20px auto; 
  padding: 1.25rem;
  border: 1px solid #BE8a4A; 
  border-radius: 0.5rem; 
  background-color: #FFFFFF; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
.form-pedidos p, h1, h2, h3, h4 {
  text-align: center;
  margin-bottom: 10px;
}
.form-pedidos input {
  width: 100%;
}
.form-pedidos label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333333; 
  font-weight: bold; 
  
}
.form-pedidos textarea {
  display: block;

}
.pesquisa-pedidos{
  display: flex;
  justify-content: center;
  margin: 0;
  
}
.pesquisa-pedidos input::placeholder {
  padding-left: 8px;
}

.pesquisa-pedidos button {
  padding: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
}
.limpar-salvar{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.limpar-salvar-button {
  padding: 2px;
  background-color: #BE8a4A;
  color: rgba(255, 255, 255, 0.815);
  margin: 5px;
}
.textcenter {
  margin-top: 20px;
  display: block;
  
}
.quantidade-pedidos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantidade-pedidos input {
  width: 100%;
  text-align: center;
}
.quantidade-pedidos #adicionar-pedidos {
  border: none;
  border-radius: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  margin-left: 5px;
  background: none;
  
}
.quantidade-pedidos #remover-pedidos {
  border: none;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  margin-right: 5px;
  background: none;
  
}
.valor-pedidos input{
  width: 100%;
  text-align: start;

}

@media (max-width: 768px) {
  .form-pedidos form {
    width: 90%; /* Ajustar a largura do formulário em telas menores */
    padding: 1rem;
  }

  .limpar-salvar {
    justify-content: center;
  }

  .pesquisa-pedidos {
    flex-direction: column;
  }

  .pesquisa-pedidos button {
    width: 100%;
    margin-top: 10px;
  }

  .quantidade-pedidos {
    flex-direction: column;
  }

  .quantidade-pedidos input {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .form-pedidos form {
    width: 100%; /* Ajustar a largura para dispositivos muito pequenos */
  }

  .limpar-salvar-button {
    width: 100%; /* Tornar os botões maiores em telas pequenas */
    padding: 10px;
  }
}

/*Css Do Davi - Pedidos*/
/*fornecedor*/
  .select-grafico{
    text-align: center;
    margin-top: 1vw;
    background-color: #c8baab7c;
    color: #000000;
    border: solid 2px #be8a4a67 ;
    width: 10vw;
    height: 2vw;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }
/*fornecedor*/
/*suporte*/
  .suporte-page h1 {
    text-align: center;
    color: #333;
    margin-bottom: 5vw;
  }
  .input-section {
    margin-bottom: 50px;
    text-align: center;
  }
  .input-section input[type="text"] {
    margin-bottom: 15px;
    text-align: center;
    width: 30%;
    padding: 10px;
    border: 1px solid #110f0f;
    border-radius: 5px 10px;
    font-size: 18px;
  }
  .button-sup{
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #cabdb1;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border-radius: 5px 15px;
  }
  .faq-section {
    margin: 20px 0;
    padding-top: 5vh;
    padding: 7vh;
  }
  .faq-item {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .faq-item h3 {
    text-align: center;
    margin: 0;
    padding: 15px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  p{
  text-align: center;
  }
  .faq-item p {
    display: none;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: white;
  }
  .faq-item h3:hover {
    background-color: #f1f1f1;
  }
/*suporte*/
/*entrada*/
.form-container-entrada {
  max-width: 90%; 
  margin: 20px auto; 
  padding: 1.25rem;
  border: 1px solid #BE8a4A; 
  border-radius: 0.5rem; 
  background-color: #FFFFFF; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
  box-sizing: border-box;
}


.form-container-entrada h1 {
  text-align: center;
  color: #333333; 
  margin-bottom: 1.25rem; 
  font-size: 1.5rem;
}

.entrada-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333333; 
  font-weight: bold; 
  font-size: 1rem; 
}


.entrada-input, .entrada-select, .entrada-textarea {
  width: 100%;
  padding: 0.625rem; 
  margin-bottom: 1rem; 
  border: 1px solid #cccccc; 
  border-radius: 0.25rem;
  background-color: #f9f9f9; 
  font-size: 1rem;
  box-sizing: border-box; 
  resize: none;
}


.entrada-button {
  padding: 0.75rem 1.25rem; 
  border: none;
  border-radius: 0.25rem; 
  background-color: #BE8a4A; 
  color: #FFFFFF; 
  cursor: pointer;
  font-size: 1rem; 
  transition: background-color 0.3s ease; 
  width: 100%; 
}

.entrada-button:hover {
  background-color: #a7743d; 
}


.form-row {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem; 
}

.form-column {
  flex: 1;
  min-width: calc(50% - 1rem); 
}


.entrada-error {
  color: #BE8a4A; 
  font-size: 0.875rem; 
  margin-top: -0.5rem; 
  margin-bottom: 1rem; 
}


@media (max-width: 768px) {
  .form-column {
      min-width: 100%; 
  }

  .form-container-entrada {
      padding: 1rem; 
  }
}

@media (max-width: 480px) {
  .form-container-entrada h1 {
      font-size: 1.25rem; 
  }

  .entrada-label, .entrada-input, .entrada-select, .entrada-textarea, .entrada-button {
      font-size: 0.875rem;
  }

  .entrada-button {
      padding: 0.5rem 1rem; 
  }
}
/*entrada*/
