@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Reset CSS */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c8baab7c;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
/*header*/
  header {
    width: 100%;
    background-color: #BE8a4A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
  .main-nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    margin-right: 3vw;
  }

  .main-nav ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    
  }
  .main-nav ul li a:hover {
    background-color: #dbad75;
    color: #fff;
  }
  .mainlogo {
    margin-left: 3vw;
    width: 5vw;
    margin-top: 2%;
    margin-bottom: 2%;
  }
/*header*/

/*aside*/
  aside {
    width: 14%;
    background-color:#c8baab7c;
    box-shadow: 0rem 0rem 1rem #bcacc7;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .asidediv {
    margin-top: 2rem ;
    margin-bottom: 1.5rem;
  }

  .asidelink {
    display: block;
    font-size: 1rem;
    border: 2px solid #be8a4a67;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 3rem;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow-wrap: break-word;
  }
  .asidelink:hover{
    background-color: #BE8a4A;
    color: #fff;
  }
  .asidelink.active {
    background-color: #BE8a4A;
    color: #fff;
  }
/*aside*/
.container {
  display: flex;
  flex: 1;
}
 main { /* PROIBIDO MEXER */
  flex: 1;
}
#main-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#main-content.fade {
  opacity: 0;
}
footer {
  background-color: #BE8a4A;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
}
/* sobre.html start */
div#sobre-content{
  text-align: center;
  top: 35%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sobre-content h1{
  text-align: center;
  font-size: 3rem;
  padding-bottom: 5px;
}

#sobre-content p{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
  border-top: 2px solid #dbad75;
  border-bottom: 2px solid #dbad75;
  font-size: 1.5rem;
}

#sobre-content a{
  padding-top: 12px;
  float: left;
  text-decoration: none;
  font-size: 1.3rem;
}
#sobre-content a:hover{
  text-decoration: underline 1px;
}
/* Css da proposta e metodo */
#proposta-metodo{
  display: inline-flex;
  text-align: center;
  top: 65%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 4rem;
  margin-top: 1.5rem;
}

#proposta-metodo h2{
  font-size: 1.5rem;
}

#proposta-metodo p{
  font-size: 1.2rem;
}
/* sobre.html end */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  .asidelink {
    font-size: 0.8rem;
  }
  .main-nav ul {
    flex-direction: row;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .asidelink {
    font-size: 0.7rem;
  }

  .main-nav ul {
    flex-direction: column;
    gap: 10px;
  }

}

@media (max-width: 480px) {
  body {
    font-size: 10px;
  }

  .asidelink {
    font-size: 0.6rem;
  }
  .main-nav ul {
    flex-direction: column;
    gap: 10px;
  }

}
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4f02839d;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(-20px);
  z-index: 1000; 
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}

.notification.hidden {
  opacity: 0;
  transform: translateY(-20px);
}
/*Css Do Davi - Pedidos*/
  .form-pedidos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    
  }
  .form-pedidos form {
    background-color: #e4a456;
    border-radius: 50px;
    width: 386px;
    height: 457px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-pedidos p {
    text-align: center;
    margin-bottom: 10px;
  }
  .form-pedidos input {
    margin: 0 20px 20px 0;
    width: 100%; 
    text-align: center;
  }
  .form-pedidos #salvar {
    width: 70px;
    margin-left: 80%;
    border-radius: 10px;
  }
  .quantidade-pedidos {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  .quantidade-pedidos input {
    width: 330px;
    margin-right: 0;
  }
  .quantidade-pedidos #adicionar-pedidos {
    width: 20px;
    height: 20px;
    border-radius: 5px;

  }
  .quantidade-pedidos #remover-pedidos {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
/*Css Do Davi - Pedidos*/
/*fornecedor*/
  .select-grafico{
    text-align: center;
    margin-top: 1vw;
    background-color: #c8baab7c;
    color: #000000;
    border: solid 2px #be8a4a67 ;
    width: 10vw;
    height: 2vw;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }
/*fornecedor*/
/*suporte*/
  .suporte-page h1 {
    text-align: center;
    color: #333;
    margin-bottom: 5vw;
  }
  .input-section {
    margin-bottom: 50px;
    text-align: center;
  }
  .input-section input[type="text"] {
    margin-bottom: 15px;
    text-align: center;
    width: 30%;
    padding: 10px;
    border: 1px solid #110f0f;
    border-radius: 5px 10px;
    font-size: 18px;
  }
  button {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #cabdb1;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border-radius: 5px 15px;
  }
  .faq-section {
    margin: 20px 0;
    padding-top: 5vh;
    padding: 7vh;
  }
  .faq-item {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .faq-item h3 {
    text-align: center;
    margin: 0;
    padding: 15px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  p{
  text-align: center;
  }
  .faq-item p {
    display: none;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: white;
  }
  .faq-item h3:hover {
    background-color: #f1f1f1;
  }
/*suporte*/
